<div class="bg-white rounded-xl shadow-md">
  <div class="flex">
    <% logo_url = supplier["logo_url"].presence || "https://plchldr.co/i/96x96?&bg=ccc&fc=ccc" %>
    <%= image_tag logo_url, alt: "#{supplier["name"]} logo image", class: "h-24 w-24 m-3 rounded" %>
    <div class="pt-3 px-3 w-full">
      <% if supplier["connected"] %>
        <%= link_to supplier["name"], dashboard_supplier_path(id: supplier["id"]), class: "font-medium text-lg hover:underline" %>
        <span class="text-gray-700 uppercase text-xs">Connected</span>

      <% else %>
        <div class="mb-2">
          <%= link_to supplier["name"], dashboard_supplier_path(id: supplier["id"]), class: "font-medium" %>
        </div>
        <%= link_to "Start connecting", new_dashboard_contract_request_path(supplier_name: supplier["name"], supplier_id: supplier["id"]), class: "btn" %>
      <% end %>

      <div class="my-3">
        <% Array.wrap(supplier["article_types"]).map(&:humanize).each do |type| %>
          <span class="bg-gray-600 text-white rounded text-xs p-1 whitespace-nowrap"><%= type %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
