<!DOCTYPE html>
<html>
  <head>
    <title>ConsumerDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-200">
    <%= render partial: "layouts/navigation" if logged_in? %>
    <main class="container mx-auto mt-20 px-5">
      <% unless flash.empty? %>
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-3">
          <%= flash.alert %>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
